.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-right {
  animation: slide-right 0.8s ease;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-left {
  animation: slide-left 0.8s ease;
}

@keyframes slide-left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
